.common__section {
  background: linear-gradient(rgb(125, 98, 31, 0.8), rgb(99, 75, 11, 0.8)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}